#body_login {
    background-image: url(../img/login.png);
    background-size: cover;
    backdrop-filter: blur(4px);
  }
  /* Doy estilo a las imágenes del login */
  .login_user{
    width: 40px;
    height: 40px;
    margin: 20px;
    margin-left: 2px;
    float: left;
    border: 3px solid white;
    background-color: white;
  }
  
  /* Doy estilo al contenedor del formulario */
  #container_flexbox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  /* Doy estilo al formulario de login */
  .login {
    background-image: url(../img/abstract-orange-background-layout-design-studio-room-web-template-business-report-with-smooth-circle-gradient-color.jpg);
    padding: 20px;
    width: 300px;
    box-sizing: border-box;
  }
  
  .container_login {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
  }
  
  .container_login p {
    margin: 0;
    width: 100%;
  }
  
  .container_login input {
    width: 100%;
    height: 40px;
    padding: 10px;
    border: 1px solid white;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #ff8800;
    color: #ffffff;
    border: none;
    margin: 20px;
    cursor: pointer;
    font-size: 16px;
  }
