/*Cambio todas las medidas absolutas a sus equivalentes relativas*/
/*Realizo cambios para centrar la imagen de fondo*/ 
#body_login {
  background-image: url(../img/login.png);
  max-width: 100%;
  height: auto;
  background-attachment: fixed; /*Imagen de fondo fija*/
  background-position: center;
  background-size: cover;
  backdrop-filter: blur(4px);
}

  /* Doy estilo a las imágenes del login */
  .login_user{
    width: 2.5rem;
    height: 2.5rem;
    margin: 1.25rem;
    margin-left: 0.0625rem;
    float: left;
    border: 0.1875rem solid white;
    background-color: white;
    color: black;
  }

  /* Doy estilo al contenedor del formulario */
  #container_flexbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  /*Centro el contenedor del formulario en la página*/
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}
  
  /* Doy estilo al formulario de login */
 .login {
  background-image: url(../img/abstract-orange-background-layout-design-studio-room-web-template-business-report-with-smooth-circle-gradient-color.jpg);
  padding: 1.25rem;
  width: 18.75rem;
  height: auto;
  box-sizing: border-box;
}
  
.container_login {
  margin-bottom: 0.625rem;
  display: flex;
  align-items: center;
}

.container_login p {
  margin: 0;
  width: 100%;
}
  
.container_login input {
  width: 100%;
  height: 2.5rem;
  padding: 0.625rem;
  border: 0.0625rem solid white;
}
  
#get_into {
  width: 100%;
  padding: 0.625rem;
  background-color: #ff8800;
  color: #ffffff;
  border: none;
  margin: 1.25rem;
  cursor: pointer;
  font-size: 1rem;
}

/*Tablet*/
@media only screen and (max-width: 768px) {
  .login { 
    width: 22rem;
    height: 20rem;
  }

/*Celular*/
@media only screen and (max-width: 568px) {
    #form_login {
      height: 53%;
      width: 80%;
    }
  }

  body {
    font-size: 0.6rem;
  }

  #footer {
    position: relative;
    bottom: -3rem;
  }
}
