.jumbotron,
.card-body,
.container,
.site-header {
  font-family: 'Verdana', serif !important;
}

.jumbotron .display-4 {
  font-weight: bold;
}

nav a {
  display: flex;
  text-decoration: none;
}

.navbar-nav {
  align-items: center;
}

 
#usuario {
  margin-left: auto; /* Empuja el elemento #user al final del contenedor */
  text-align: center; /* Centra el texto dentro del elemento #user */
  color: white;
  font-family: 'Verdana', serif !important;

}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.jumbotron {
  height: 50vh;
  padding: 5em inherit;
  margin-bottom: 0;
  background-color: #53C0FB;
  background: url('../img/cover_back.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
  font-weight: bold;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  text-shadow: 1px 1px 2px grey;
}

.jumbotron .lead {
  font-size: 38px;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.site-header a {
  color: white;
  transition: ease-in-out color .15s;
}

.site-header .dropdown-menu a {
  color: black;
}

.dropzone {
  border: 2px dashed #0087F7;
  border-radius: 5px;
  background: white;
}

.img-fit {
  max-height: 100%;
}

.alert {
  position: fixed;
  top: 80px;
  width: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  top: 50%;
  left: 50%;
}

.cursor-active {
  cursor: pointer;
}

.left {
  float: left;
  padding: 4px;
  background-color: rgba(255, 255, 255, 0.5);
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

#spinner-wrapper {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1021;
  display: none;
}

main {
  min-height: calc(100vh - 210px);
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
  text-decoration: inherit;
}

.checked {
  color: orange;
}

/*Agregado a la linea 42 products.html */
.title{
  text-align: center;
  font-size: 34px;
  display: flex;
  border: 1px solid black;
  width: 1272px;
  height: 63px;
  justify-content: center;
  align-items: center;
  margin: auto;
}
/*Agregado a la linea 46 products.html*/
.flex-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 20px;
  margin: auto;
}
/*Agregado a cada producto del products.html*/
.flex-container > div{
  padding: 5px;
  margin: auto;
  font-size: 10px;
  text-align: left;
  width: 600px;
  height: 430px;
}
/*Imagen de cada producto*/
.flex-container > div >img{
  width: 450px;
  height: auto;
  margin: auto;
  padding: 5px;
}
/* Modifica las dimensiones de los detalles de producto */
.card-text{
  margin: 0;
  font-size: 16px;
}
@media (max-width: 320px) and (max-height: 568px) {
  .title {
    width: 253px;
    height: 40px;
    font-size: 18px;
  }
  
  .flex-container {
    flex-direction: column; 
    padding: 5px; 
  }

  .flex-container > div {
    width: 217px;
    height: 196px;
    display: flex;
    align-items: center; 
    padding: 5px; 
    font-size: 10px;
  }

  .flex-container > div > img {
    width: 157px; 
    height: 109px; 
  }

  .card-text{
    font-size: 8px;
  }

  footer {
    text-align: left;
    font-size: 10px;
  }

}

@media (min-width: 569px) and (max-width: 768px) {
  .title{
    width: 672px;
    height: 63px;
  }
  /* Modifica el container principal */
  .flex-container{
    display: flex;
    padding: 30px;
  }
  /* Modifica las dimensiones del area de cada producto */
  .flex-container > div{
    width: 290px;
    height: 260px;
    box-sizing: border-box;
  }
  /* Modifica las dimensiones de las fotos de los productos */
  .flex-container > div > img{
    display: flex;
    width: 245px;
    height: auto;
    margin: auto;
  }
  /* Modifica dimensiones del nombre del producto*/
  .card-title{
    margin: 0;
    font-size: 12px;
  }
  /* Modifica las dimensiones de los detalles */
  .card-text{
    margin: 0;
    font-size: 10px;
  }
}
@media (min-width: 769px){
  /* Modifica el titulo */
  .title{
    width: 1100px;
    height: 61px;
    margin: auto;
  }
  /* Modifica el container principal */
  .flex-container{
    display: flex;
    padding: 30px;
  }
  /* Modifica las dimensiones del area de cada producto */
  .flex-container > div {
    width: 500px;
    height: 290px;
    box-sizing: border-box;
  }
  /* Modifica las dimensiones de las fotos de los productos */
  .flex-container > div > img{
    display: flex;
    margin: auto;
    width: 250px;
    height: auto;
  }
  /* Modifica las dimensiones de los detalles */
  .card-text{
    margin: 0;
    font-size: 13px;
  }
}